<div class="container mt-4">
  <h3 class="mb-4">Step 2: Student Information</h3>
<div *ngIf="studentID; else noData">
  <p><strong>Student ID:</strong> {{ studentID }}</p>
</div>
<ng-template #noData>
  <p style="color: red;">⚠ No Student ID found. Please complete Step 1 first.</p>
</ng-template>
  <form [formGroup]="admissioninfoForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col">
        <label>Course</label>
        <select formControlName = "courselist" id="idcourselist" class="form-control">
        <option value="">-- Select Course --</option>
        <option *ngFor="let course of courses" [value]="course.CourseId">
            {{ course.CourseName }}
          </option>
        </select>  
      </div>
      <div class="col">
        <label>Session </label>
       <select formControlName = "sessionlist" id="idsessionlist" class="form-control">
        <option value="">-- Select SessionYear --</option>
         <ng-container *ngFor="let session of sessions">  
           <ng-container *ngIf="session.IsActive">
            <option  [value]="session.SessionId" >
              {{ session.SessionYear }}
            </option>
           </ng-container>          
         </ng-container>     
        </select>  
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Next</button>
  </form>
</div>



